@import "http://fonts.googleapis.com/css?family=Droid+Sans";
/* Above is to load Google Fonts in our page.*/
.shrink{
    width: 100%;
    clear: both;
}
.save-upload{
    margin: 100px auto 0 auto;
    /*display: inline;*/
}
.outside {
  overflow: auto;
  margin: 0 auto;
  width: 33%;
}

.upload {
    height: 400px;
    max-width: 400px;
    max-height: auto;
    margin: 0 auto;
    background-image: url('img/arrow_circle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#save {
/*    width: 100%;*/
    height: 200px;
    max-width: 200px;
    max-height: auto;
    border: none;
    margin: 0 auto;
/*    margin-top: 100px;
    background-image: url(save.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
}

#preview {
    margin-top: 100px;
    width: 33%;
    height: auto;
    margin: 0 auto;
/*    height: 400px;
    width: 400px;*/
    // text-align: center;
/*    margin: 20px;*/
    display: block;
    position: relative;
}

.resize-container {
    position: absolute;
    left: 0px;
    top: 0px;
}
.pre {
    margin-right: 20px;
    font-size: 13px
}
#previewimg {
/*    height: 400px;
    width: 400px;*/
    max-width: 500px;
    max-height: auto;
    float: left;
 /*   padding: 8px;
    border: 1px solid #e4d3c3;*/
    margin-bottom: 5px;
    position: absolute;
}
#file {
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

#upload {

}
#message {
    width: 100%;
    font-size: 14px;
    color: #123456;
    margin-top: -90px;
    float: left;
    margin: 15px;
}
#message span {
    color: red;
    font-size: 15px;
}
#textmessage {
    float: right;
    width: 50%;
    margin: 15px 85px 0 0;
}
div#img {
    width: 200px;
    height: 200px;
}
#imageupload {
    width: 150px;
    height: 150px;
}
#deleteimg {
    cursor: pointer;
    float: right;
    margin-top: -175px;
    margin-right: 10px;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}

.resize-container:hover .resize-handle-ne,
.resize-container:hover .resize-handle-se,
.resize-container:hover .resize-handle-nw,
.resize-container:hover .resize-handle-sw {
    display: block;
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 999;
    width: 200px;
    height: 200px;
    border: solid 2px rgba(222,60,80,.9);
    box-sizing: content-box;
    pointer-events: none;
}

.overlay:after,
.overlay:before {
    content: '';
    position: absolute;
    display: block;
    width: 204px;
    height: 40px;
    border-left: dashed 2px rgba(222,60,80,.9);
    border-right: dashed 2px rgba(222,60,80,.9);
}

.overlay:before {
    top: 0;
    margin-left: -2px;
    margin-top: -40px;
}

.overlay:after {
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 204px;
    border-top: dashed 2px rgba(222,60,80,.9);
    border-bottom: dashed 2px rgba(222,60,80,.9);
}

.overlay-inner:before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}

.overlay-inner:after{
    right: 0;
    margin-right: -40px;
    margin-top: -2px;
}

.btn-crop {
    position: absolute;
    vertical-align: bottom;
    right: 5px;
    bottom: 5px;
    padding: 6px 10px;
    z-index: 999;
    background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
}

.btn-crop img {
    vertical-align: middle;
    margin-left: 8px;
}
